<html>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <p>Hi {{.Name}},</p>

    <p>
        I hope you're doing well.
    </p>

    <p>
        This is a test email sent using our Go email dispatcher.
        We're currently validating email delivery, personalization,
        and campaign workflows.
    </p>

    <p>
        If you received this email successfully, no action is required.
    </p>

    <p>
        Thank you for your time.
    </p>

    <br>

    <p>
        Best regards,<br>
        Aditya Kumar
    </p>
</body>
</html>